{
  "presets": [
    [
      "env"
    ],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "add-module-exports",
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    ["import-inspector", {
      "serverSideRequirePath": true
    }]
  ]
}