{
  "presets": [
    [
      "env"
    ],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "add-module-exports",
    "syntax-dynamic-import",
    "react-loadable/babel",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "dev": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "ssr": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}