<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title || '' %></title>
</head>
<body>
  <div id="root"><%- root %></div>
  <script>
    window.REDUX_STATE = <%- JSON.stringify(state) %>
  </script>
  <%- scripts %>
<script type="text/javascript" src="/index.fb8de0a68f6263b1c9c4.js"></script><script type="text/javascript" src="/bundle.fb8de0a68f6263b1c9c4.js"></script></body>
</html>